<ul id="spaces">
  <% @spaces.each do |space|%>
  <li>
    Name: <%= space.name %>
    Description: <%= space.description %>
    Price: <%= space.price %>
    User: <%= space.user.username %>
    <form action=<%= "/spaces/" + space.id.to_s %> >
      <input type="submit" value=" v i e w " />
    </form>
  </li>
  <% end %>
</ul>
